<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1098180926401-smaf190f4qrp6bq69c8ls941et4codqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098180926401-smaf190f4qrp6bq69c8ls941et4codqg</string>
	<key>API_KEY</key>
	<string>AIzaSyDvQt7bgQ4KaH5YQ3aFeMph7toXRMd7CLc</string>
	<key>GCM_SENDER_ID</key>
	<string>1098180926401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neemabadihian.Clocker</string>
	<key>PROJECT_ID</key>
	<string>clocker-2f5fe</string>
	<key>STORAGE_BUCKET</key>
	<string>clocker-2f5fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098180926401:ios:a38d4588d056ebee</string>
	<key>DATABASE_URL</key>
	<string>https://clocker-2f5fe.firebaseio.com</string>
</dict>
</plist>